*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: draft;
    src: url(../fonts/draft.otf);
}

body{
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    height: 100vh;
}

.banner{
    height: 100%;
    background-color: #45046a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: none;
    font-family: draft;
    color: #e5e5e5;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado{
    font-size: 50px;
}

.text{
    text-align: center;
    font-size: 18px;
}

.busqueda{

}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comercios{
    background-color: #e5e5e5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    border-radius: 8px;
    width: 300px;
    height: 55px;
}

.busqueda{
    width: 300px;
    height: 55px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    background-color: #e5e5e5;
    border-radius: 8px;
    margin-top: 25px;
    align-items: center;
}

.input{
    font-family: draft;
    width: 250px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #45046a;
}

.lupa{
    display: flex;
    justify-content: center;
    align-items: center;
}


.negocios{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

