*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: draft;
    src: url(../fonts/draft.otf);
}

body{
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    height: 100vh;
}

.banner{
    height: 100%;
    background-color: #45046a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: none;
    font-family: draft;
    color: #e5e5e5;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado{
    font-size: 48px;
}

.text{
    text-align: center;
}

.botones{

}

.negocios{
    height: 100%;
}